/* HEADER STYLES */
.menu {
		color: white;
		background-color: rgba(92, 184, 92, 1);//#5cb85c;
		font-size: 20px;

		position: fixed;
    z-index: 100; 
    top: 0; 
    left: 0;
		right: 0;
	
		width: 100%;
		margin: 0;
}

.menu-center {
		display: inline;
		padding: 5% 0;
		margin: 0;
}

.menu-center h1 {		
		text-align: center;
		font-size: 30px;
		margin: auto;
}

.menu-left {
		vertical-align: middle;
		margin: 7% 0;
}

.menu-right {
		vertical-align: middle;
		margin: 7% 0;
		font-size: 16px;
}

.selected {
		background-color: #5cb85c;
		color: white;
}

/* MIDDLE STYLES */

.add {
		display: none;
		background-color: #cccccc;
		color: #5cb85c;
		font-size: 30px;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 8;
}

.delete {
		color: white;
		position: relative;
		top: 30%;
}

.edit {
		display: none;
		background-color: #d9534f;
		padding: 0;
		text-align: center;
}

.element {
//background-color: cyan;
		border-bottom: #dddddd 1px solid;
		width: 100%;
		padding: 0;
		margin: 0;
		z-index: 7;
}

.add-form {
	display: none;
	background-color: white;
	padding-bottom: 10px;
	color: #5cb85c;
	font-size: 16px;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.add-form .btn {
	width: 100%;
}

input {
	width : 150px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For all Gecko based browsers */
          box-sizing: border-box;
}

.item-element {
	padding: 2% 0;
}

.status {
	font-size: 18px;
}

/*
.todo, .todo * {
	background-color: white;
}

.todo .status{	
	color: #d9534f;
}

.done, .done *{
	background-color: black;
}

.done .status{	
	color: #5cb85c;
}

.quantity {
	color: #666666;
	font-style: italic;
	font-size: 18px;
}
*/

.main {
//background-color: black;
		width: 100%;
		padding: 0;
}

.list-name {
		color: rgba(92, 184, 92, 1);
		font-size: 18px;
		display: block;
}

.list-description {
		color: #cccccc;
		font-size: 14px;
		font-style: italic;
		display: block;
}

.list-members {
		color: rgba(92, 184, 92, 1);
		font-size: 13px;
		font-style: italic;
		display: block;
}

/* FOOTER STYLES */
.tabs {
		border-top: 1px solid #cccccc;
		color: #5cb85c;
		background-color: rgba(255, 255, 255, 0.8);//white;
		font-size: 24px;

		position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
		right: 0;
	
		width: 100%;
		margin: 0;
}

.tab-icon {
		padding: 2% 0 1% 0;
}

.tab-icon .glyphicon {
		display: block;
		margin: auto;
		padding: 0;
}

.tab-icon-name {		
		font-size: 40%;
		width: 100%;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		text-align: center;
}

