<!doctype html>

<html>
<head>
	<title>yoso</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
</head>
<body>
	<header class="menu row container">
		<div class="menu-left col-xs-2"></div>
		<div class="menu-center col-xs-8">
			<h1 class="title">loading...</h1>	
		</div>
		<div href="#" class="menu-right col-xs-2"></div>
	</header>

	<div class="main">
	</div>

	<footer class="tabs row">
		<div class="tab-icon col-xs-3 selected" id="lists-icon">
			<span class="glyphicon glyphicon-list-alt"></span>
			<div class="tab-icon-name">lists</div>
		</div>
		<div class="tab-icon col-xs-3" id="friends-icon">
			<span class="glyphicon glyphicon-user"></span>
			<div class="tab-icon-name">friends</div>
		</div>
		<div class="tab-icon col-xs-3" id="checkin-icon">
			<span class="glyphicon glyphicon-map-marker"></span>
			<div class="tab-icon-name">check in</div>
		</div>
		<div class="tab-icon col-xs-3" id="contact-icon">
			<span class="glyphicon glyphicon-send"></span>
			<div class="tab-icon-name">contact</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js"></script>
  <script src="js/displayList.js"></script>
  <script src="js/displayLists.js"></script>
  <script src="js/displayFriends.js"></script>
  <script src="js/displayCheckin.js"></script>
  <script src="js/displayContact.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>

