<!doctype html>

<html>
<head>
	<title>yoso</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
</head>

<body>
	<header class="menu row container">
		<a href="#" class="left-nav col-xs-2">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<h1 class="title col-xs-7">yoso</h1>
		<a href="#" class="edit col-xs-1">edit</a>
		<a href="#" class="right-nav col-xs-1">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</header>

	<div class="top-offset"></div>

	<div class="tab">
	</div>

	<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog"
	aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModal">
  	<div class="modal-dialog modal-sm">
    	<div class="modal-content">
				<form id="addListForm" role="form" method="get" action="/addList">
     	 		<label for="description">Name:</label>
	     		<input type="text" class="form-control" id="name" placeholder="name" name="name">

      		<label for="description">Description:</label>
	     		<input type="text" class="form-control" id="description" placeholder="Description" name="description">

      		<label for="description">Members:</label>
	     		<input type="text" class="form-control" id="members" placeholder="members" name="members">

					<input type="submit" id="submitBtn" class="btn btn-default" value="Add the list"></input>
				</form>
    	</div>
  	</div>
	</div>

	<div class="modal fade bs-modal-sm" tabindex="-1" role="dialog"
	aria-labelledby="mySmallModalLabel" aria-hidden="true" id="itemModal">
  	<div class="modal-dialog modal-sm">
    	<div class="modal-content">
				<form id="addItemForm" role="form" method="get" action="/addItem">
     	 		<label for="name">Name:</label>
	     		<input type="text" class="form-control" id="name" placeholder="name" name="name">

      		<label for="quantity">Quantity:</label>
	     		<input type="text" class="form-control" id="quantity" placeholder="quantity" name="quantity">
					<input type="submit" id="submitBtn" class="btn btn-default" value="Add the item"></input>
				</form>
    	</div>
  	</div>
	</div>

	<footer class="tabs row">
		<div class="tab-icon col-xs-3 selected" id="lists-icon">
			<span class="glyphicon glyphicon-list-alt"></span>
			<div class="tab-icon-name">lists</div>
		</div>
		<div class="tab-icon col-xs-3" id="friends-icon">
			<span class="glyphicon glyphicon-user"></span>
			<div class="tab-icon-name">friends</div>
		</div>
		<div class="tab-icon col-xs-3" id="checkin-icon">
			<span class="glyphicon glyphicon-map-marker"></span>
			<div class="tab-icon-name">check in</div>
		</div>
		<div class="tab-icon col-xs-3" id="trending-icon">
			<span class="glyphicon glyphicon-heart"></span>
			<div class="tab-icon-name">trending</div>
		</div>
	</footer>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>
