<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Brett">
    <title>Signup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>

  <div class="navbar navbar-inverse" >
   <div class="navbar-inner">
     <div class="container">
        <a class="logo" href="index.html"> <img src="img/combined_logo2.png" alt="Brand" width="170" height="44"></a>
        <button type="button" class="btn btn-success navbar-btn pull-right" onclick="window.self.location.href='login.html'">Login</button>
     </div>
   </div>
 </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h1 class="panel-title">YOSO Sign Up</h1>
      </div>

      <div class="panel-body">
        <form accept-charset="UTF-8" role="form">
        <fieldset>

          <div class="row">
            <div class="form-group col-xs-6 col-md-6">
                <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="First Name"/>            
            </div>
            <div class="form-group col-xs-6 col-md-6">
                <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name"/>                 
            </div>
          </div>

          <div class="form-group">
              <input class="form-control input-lg" placeholder="Email" name="email" type="text">
          </div>
          <div class="form-group">
            <input class="form-control input-lg" placeholder="Password" name="password" type="password" value="">
          </div>

          <div class="form-group">
            <input class="form-control input-lg" placeholder="Confirm Password" name="confirm password" type="password" value="">
          </div>
          <div class="form-group">
              <input class="form-control input-lg" placeholder="(xxx) xxx-xxxx" name="phone" type="text">
          </div>
          <div class="checkbox">
              <label>
                <input name="remember" type="checkbox" value="keep me logged in"> Accept to the <a href="#">Terms and Conditions</a> set by this site, including our <a href="#">Cookie Use</a>.
              </label>
          </div>

          <button class="btn btn-lg btn-info btn-block" type="button" value="Create Account" onclick="return signup()">Create Account</button>

          </fieldset>
          </form>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>

</body>
</html>