header {
		color: white;
		background-color: #5cb85c;
		padding: 1%;
		font-size: 24px;
		height: 100%;
}

header h1{
		display: inline;
		text-align: center;
}

.left-nav {
		color: white;
		top: 24px;
		//padding-left: 10%;
		text-align: left;
}

.right-nav{
		color: white;
		top: 24px;
		//padding-right: 10%;
		text-align: right;		
}

ul {
		list-style-type:none;
		font-size: 24px;
		padding: 0;
}

li {
		padding: 6% 5%;
}

a {
		color: #5cb85c;
}
